.nav {
  display: flex;
  gap: 15px;
  padding: 10px;
  margin-left: 50px;
  position: absolute;
  top: 20px;
  left: 10%;
  transform: translateX(-50%);
}

.link {
  text-decoration: none;
  color: black;
}

.active {
  font-weight: bold;
  color: blue;
}
